.modal {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.modal .modal_is-opened {
  visibility: visible;
}

.modal__container {
  position: relative;
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  opacity: 40%;
}

.modal__title {
  margin: 0 0 32px;
  font-weight: 500;
  font-size: 32px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  width: 100%;
  padding: 16px 12px;
  border-color: #21212166;
  border-radius: 8px;
  border-style: solid;
}

.modal__label {
  margin: 0 0 32px;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 500;
  font-size: 16px;
}

.modal__input::placeholder {
  color: #21212140;
  font-weight: 500;
  font-size: 20px;
}

.modal__submit-btn {
  background-color: rgba(0, 0, 0);
  color: #fff;
  border-radius: 8px;
  border-style: solid;
  padding: 18px 32px;
  max-width: 156px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
}

@media screen and (max-width: 627px) {
  .modal__title {
    font-size: 20px;
  }

  .modal__input::placeholder {
    font-size: 16px;
  }

  .modal__submit-btn {
    max-width: none;
  }
}
